<h1 id="autoclave-system-recovery-instructions">Autoclave System Recovery Instructions</h1>
<p><img src="title.png" alt="N|Solid"></p>
<h2 id="unsw-canberra-school-of-engineering-and-information-technology">UNSW Canberra School of Engineering and Information Technology</h2>
<p>This documentation can help recover the Autoclave software in case of either:</p>
<ul>
<li>User Interface Loss due to unloading the uui <a href="#case-user-interface-problem">see here</a>.</li>
<li>Hard drive failure. <a href="#case-hard-drive-failure">see here</a>.</li>
</ul>
<h3 id="case-user-interface-problem">Case: User Interface Problem</h3>
<p>This may be caused by the .uui file not being loaded correctly.</p>
<p>To remedy this one can either view the video <a href="https://youtu.be/1qW3wgaCJgs">here</a> or follow the written instructions below.</p>
<h4 id="the-cause-loading-recipe-incorrectly">The cause -- Loading Recipe incorrectly</h4>
<p>The following images show an attempt at loading a recipe via the open project command.  This causes the user interface to be lost until restored.<br><img src="Recipe_Problem/2019-03-07_UnivNSW_53.jpg" alt="N|Solid"><br><img src="Recipe_Problem/2019-03-07_UnivNSW_54.jpg" alt="N|Solid"><br><img src="Recipe_Problem/2019-03-07_UnivNSW_55.jpg" alt="N|Solid"><br><img src="Recipe_Problem/2019-03-07_UnivNSW_56.jpg" alt="N|Solid"></p>
<p>At this point the interface is lost and restarting the PC will not restore it.</p>
<p>To restore the interface return to open project.</p>
<p><img src="Recipe_Problem/2019-03-07_UnivNSW_58.jpg" alt="N|Solid"></p>
<p>Open the <code>Autoclave1.uui</code> file in the directory: <code>c:\American Autoclave\Autoclave1\Display\</code></p>
<p><img src="Recipe_Problem/2019-03-07_UnivNSW_59.jpg" alt="N|Solid"></p>
<p>This simple step restores the interface for normal use and persists after restarting the computer.</p>
<p><img src="Recipe_Problem/2019-03-07_UnivNSW_60.jpg" alt="N|Solid"></p>
<h3 id="case-hard-drive-failure">Case: Hard Drive Failure</h3>
<p>The following text based instructions are supported by an instructional video <a href="https://youtu.be/ULSi3WeWFWA">here</a>.</p>
<h4 id="removal-of-old-hard-drive"><a href="https://youtu.be/ULSi3WeWFWA?t=69">Removal of Old Hard Drive</a></h4>
<ul>
<li>Isolate power at socket and removing power cable from PC.</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=87">Open case using pull-latch-mechanism</a>.</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=96">Remove door of case</a>.</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=99">Unlatch hard drive power cable from cable tie</a>.</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=102">Disconnect power and data cables from hard drive</a>.</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=106">Squeeze caddy at light blue squeeze points to release from chassis</a>.</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=110">Pull down on blue levers on side of caddy to remove the hard drive</a>.</li>
</ul>
<h4 id="insertion-of-new-hard-drive"><a href="https://youtu.be/ULSi3WeWFWA?t=126">Insertion of New Hard Drive</a></h4>
<ul>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=130">Prepare blank drive for insertion</a>.</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=150">Insert new drive into chassis by aligning screw cavities with metal studs of caddy, and pushing the blue levers on the side of the caddy until the disk is secured within the caddy</a>.</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=163">Reconnect both data and power cables to hard drive</a>.</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=174">Mate the lip of the caddy with the chassis and rotate until it clicks into place</a>.</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=178">Stow the cable tie</a>.</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=182">Replace the door of the case</a>.</li>
</ul>
<h4 id="connect-cables"><a href="https://youtu.be/ULSi3WeWFWA?t=188">Connect cables</a></h4>
<ul>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=194">Note power supply setting matches the type of power to be supplied to the machine</a>.</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=206">Connect power cable</a>.</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=210">Connect network cable to AAC Support ethernet port</a></li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=217">Connect VGA port to screen</a></li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=225">Connect USB Keyboard &amp; Mouse</a></li>
</ul>
<h4 id="prepare-backup-files-for-access-over-network"><a href="https://youtu.be/ULSi3WeWFWA?t=240">Prepare backup files for access over network</a></h4>
<ul>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=260">Access the files on a networked pc</a>.</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=271">Share the folder containing the folder named &#39;WindowsImageBackup&#39; over the network</a><ul>
<li>Right click on the parent folder and select properties</li>
<li>Click tab: &#39;Sharing&#39;</li>
<li>Click button: &#39;Share...&#39;</li>
<li>Ensure there is a user listed for sharing for which you have the password<ul>
<li>Add your user if necessary by entering the user name and clicking &#39;Add&#39;</li>
</ul>
</li>
<li>Click button &#39;Share&#39;</li>
<li>Click button &#39;Done&#39;</li>
<li>Close Properties Dialog window by clicking button &#39;Close&#39;</li>
</ul>
</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=303">Note the IP Address of the networked pc containing the backup data so it can be accessed from the lab pc</a>.<ul>
<li>Hold the windows key &#39;⊞ Win&#39; then tap &#39;R&#39; to open the &#39;Run&#39; dialog box.</li>
<li>Type cmd.</li>
<li>Click button: &#39;Ok&#39;</li>
<li>Wait for command prompt to open.</li>
<li>Type &#39;ipconfig&#39;</li>
<li>Press Enter</li>
<li>Note the value &#39;IPv4 Address&#39;, the value should be something similar to: &#39;131.236.54.148&#39;.</li>
</ul>
</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=341">Test Shared Directory</a><ul>
<li>Hold the windows key &#39;⊞ Win&#39; then tap &#39;R&#39; to open the &#39;Run&#39; dialog box.</li>
<li>type &#39;\&#39;+{IPv4 Address}+&#39;\&#39;+{directory_containing_WindowsImageBackup} it should look like this: &#39;\131.236.54.148\autoclave_c_image&#39;</li>
<li>Press Enter.</li>
<li>If the folder opens then the address is correct and the folder is shared.</li>
</ul>
</li>
</ul>
<h4 id="restore-backup-to-lab-pc"><a href="https://youtu.be/ULSi3WeWFWA?t=376">Restore backup to Lab PC</a></h4>
<ul>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=376">Power on the PC</a></li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=381">Open CD tray and insert the Windows 32 bit Recovery Disc</a></li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=395">Boot from the disc (may require pressing F1 or a restart once the disc has been inserted)</a></li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=443">Follow System Recovery Prompts</a><ul>
<li>System Recovery Options&gt;<ul>
<li>Select &#39;US&#39; Keyboard Input Method</li>
<li>Press button: &#39;Next&#39;</li>
<li>Select &#39;Restore your computer using a system image that you created&#39;</li>
<li>Press button: &#39;Next&#39;</li>
<li>When prompted that &#39;Windows cannot find a system image on this computer&#39; click button: &#39;Cancel&#39;</li>
<li>Choose radio button &#39;Select a system image&#39; and press button: &#39;Next&#39;</li>
<li>Press button: &#39;Advanced&#39;</li>
<li>Select &#39;Search for a system image on the network&#39;</li>
<li>When prompted: &#39;Are you sure you want to connect to the network?&#39;, click button: &#39;Yes&#39;</li>
<li>Wait for Lab pc to connect to the network.</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=470">Enter the address of the recovery data</a>.  This should look something like: &#39;\131.236.54.148\autoclave_c_image&#39;.  It is the address we tested in the Test Shared Directory step earlier in this process.</li>
<li>Press button: &#39;OK&#39;</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=497">Enter username and password</a> for accessing the shared network location.</li>
<li>Press button: &#39;OK&#39;</li>
<li>The disc image should now be listed.  Select it and then press &#39;Next &gt;&#39;</li>
<li>Select it again and then press &#39;Next &gt;&#39;</li>
<li>Press button: &#39;Next &gt;&#39;</li>
<li>Press button: &#39;Finish&#39;</li>
<li>When prompted &#39;All disks to be restored will be formatted and replaced with the layout and data in the system image.  Are you sure you want to continue?&#39;, press button: &#39;Yes&#39;</li>
<li>Wait for Re-image process to complete.</li>
</ul>
</li>
</ul>
</li>
<li><a href="https://youtu.be/ULSi3WeWFWA?t=550">Test that system boots correctly</a><ul>
<li>Remove Recovery CD from drive and boot to windows normally.</li>
</ul>
</li>
</ul>
